<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>11_表单输入绑定</title>
</head>
<body>
<!--
1. 使用v-model(双向数据绑定)自动收集数据
  text/textarea
  checkbox
  radio
  select
2. 失去焦点才更新: .lazy
-->
<div id="demo">
  <p>{{msg}}</p>
  <input type="text" v-model="msg"><br>
  <textarea v-model="msg"></textarea>

  <hr>
  <input type="checkbox" id="checkbox" v-model="ok">
  <label for="checkbox">{{ok}}</label>

  <hr>
  <input type="checkbox" id="jack" value="JACK" v-model="friends">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="JOHN" v-model="friends">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="MICK" v-model="friends">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names:{{friends}}</span>

  <hr>
  <input type="radio" id="female" value="女" v-model="sex">
  <label for="female">FEMALE</label>
  <br>
  <input type="radio" id="male" value="男" v-model="sex">
  <label for="male">MALE</label>
  <br>
  <span>Sex: {{sex}}</span>

  <hr>
  <select v-model="cityId">
    <option value="">未选择</option>
    <option :value="city.id" v-for="(city,index) in citys" :key="index">{{city.name}}</option>
  </select>
  <span>selection: {{cityId}}</span>

  <hr>
  <input placeholder="失去焦点才更新" v-model.lazy="msg2">
  <p>输入的数据为: {{msg2}}</p>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el : '#demo',
    data : {
      msg: 'atguigu',
      ok: true,
      friends: ['JOHN'],
      sex: '女',
      citys: [
        {id: 1, name: 'BJ'},
        {id: 2, name: 'SZ'},
        {id: 3, name: 'SH'}
      ],
      cityId: 2,
      msg2: 'aaa'
    },
    methods : {

    },

    computed : {

    }
  })
</script>
</body>
</html>